.accordion details {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-s);
}
.accordion details[open] {
  box-shadow: var(--shadow-s)
}
.accordion details[open] .accordion-body {
  border-top: 1px solid var(--border-color);
  background-color: var(--card-color);
  border-bottom-left-radius: var(--border-radius-s);
  border-bottom-right-radius: var(--border-radius-s);
}
.accordion details[open] summary {
  background-color: var(--border-color);
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.accordion details[open] summary::after {
  transform: translateY(-50%) rotate(-45deg);
  color: var(--dark-color);
}

/* stylelint-disable-next-line no-descending-specificity */
.accordion details + details {
  margin-top: 1rem;
}

.accordion summary {
  position: relative;
  padding: 1rem;
  padding-right: 46px;
  cursor: pointer;
  list-style: none;
  overflow: auto;
  transition: background-color 0.3s;
}
.accordion summary p{margin: 0;}
.accordion summary:focus,
.accordion summary:hover {
  background-color: var(--border-color);
  border-radius: var(--border-radius-s);
}
.accordion summary::-webkit-details-marker {
  display: none;
}
.accordion summary::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%) rotate(135deg);
  width: 10px;
  height: 10px;
  border: 0.11rem solid;
  border-width: 0.11rem 0.11rem 0 0;
  transition: transform 0.3s;
}
.accordion summary::after {
  color: var(--muted-color);
}

.accordion .accordion-body {
  padding: 1rem;
}
.accordion .accordion-body p,
.accordion .accordion-body h6,
.accordion .accordion-body h5,
.accordion .accordion-body h4,
.accordion .accordion-body h3{
  margin-top: 0;
}
.accordion .accordion-body ul{
  padding-left: 1rem;
}
